---
layout: default
---

<div id="browser">
	{{ content }}
	<script>
		function BrowserCheck() //Returns an array of [name,number]
		{
			var N= navigator.appName, ua= navigator.userAgent, tem;
			var M= ua.match(/(opera|chrome|safari|firefox|msie|trident)\/?\s*(\.?\d+(\.\d+)*)/i);
			if(M && (tem= ua.match(/version\/([\.\d]+)/i))!= null) {M[2]=tem[1];}
			M= M? [M[1], M[2]]: [N, navigator.appVersion,'-?'];
			return M;
		}
		document.getElementById("browser").innerHTML = document.getElementById("browser").innerHTML.substring(0,document.getElementById("browser").innerHTML.indexOf("you!"))+"users of "+BrowserCheck()[0]+" "+BrowserCheck()[1]+"!</p>";
	</script>
</div>
